* {
  margin:  0;
  font-family: Verdana;
}

a.social {
  padding: 2%;
  display: inline-block;
  color:  white;
}

.header-text {
  justify-content: center;
}

.down-arrow {
  justify-content: center;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 15px;
  width: 35vh;
}

.progress-done {
  background: linear-gradient(to left, #E975A8, #726CF8);
  box-shadow: 0 3px 3px -5px #E975A8, 0 2px 5px #726CF8;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #deaff5;
  
}

::selection {
  color: white;
  background: #deaff5;
}